.container {
   box-sizing: border-box;
   width: 100%;
   padding:10px;
}

.products{
   display: grid;
   grid-template-columns: repeat(3, minmax(0, 1fr));
   gap:10px;
}

.pagination {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5px;
}
   .pagination>span {
      padding:0 3px;
      cursor: pointer;
   }
   .pagination>span:active {
      color:blue;
   }


@media screen and (max-width:400px){
   .products{
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap:10px;
   }
}