.container {
   box-sizing: border-box;
   width: 100%;
   padding:10px;
}

.products{
   display: grid;
   grid-template-columns: repeat(3, minmax(0, 1fr));
   gap:10px;
}

.pagination {
   margin-top: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;

}
   .pagination>span {
      padding:0 5px;
   }
   .pagination>span:hover {
      background-color: aqua;
      cursor: pointer;
   }
   
   .btn {
      background-color: rgb(238, 227, 227);
   }

   .active {
      background-color: rgb(42, 120, 236);
   }
   
@media screen and (max-width:400px){
   .products{
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap:10px;
   }
}