.item__card {
   display: flex;
   flex-direction: column;
   border: 10px solid rgb(212, 206, 206);
   border-radius: 5px;
   padding: 10px;
   background-color: rgb(219, 175, 175);
}

.title {
   align-self: start;
   font-weight: bold;
   font-size: 12px;
}

.description {
   text-align: start;
   font-size: 10px;
   overflow-wrap: break-word;
}

.img {
   padding: 10px 0;
   height: auto;
   max-height: 200px;
   width: 100%;
}

.price {
   justify-content: end;
   align-self: flex-start;
   font-weight: bold;
   font-size:12px;
}

@media screen and (max-width:400px){
   .img {
      padding: 10px 0;
      height: auto;
      width: 70%;
      margin: auto;
   }
}